asgiref==3.8.1 ; python_version >= "3.12"
click==8.1.8 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12"
crispy-bootstrap5==2025.4 ; python_version >= "3.12"
cssbeautifier==1.15.4 ; python_version >= "3.12"
django-crispy-forms==2.4 ; python_version >= "3.12"
django-extensions==4.1 ; python_version >= "3.12"
django==5.2 ; python_version >= "3.12"
djlint==1.36.4 ; python_version >= "3.12"
editorconfig==0.17.0 ; python_version >= "3.12"
jsbeautifier==1.15.4 ; python_version >= "3.12"
json5==0.12.0 ; python_version >= "3.12"
pathspec==0.12.1 ; python_version >= "3.12"
pyyaml==6.0.2 ; python_version >= "3.12"
regex==2024.11.6 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
tqdm==4.67.1 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
whitenoise==6.9.0 ; python_version >= "3.12"
